.display-5 {
    font-weight: 300;
    font-size: 3rem;
}

a :hover {
    text-decoration: underline !important;
    color: grey !important;
    cursor: pointer !important;
}

a{

}
@media only screen and (max-device-width: 360px) {
    .display-5{
        font-weight: 300;
        font-size: 2.5rem;
    }
}