.Home-logo{
    height: 80px;
    width: 80px;
    margin-right: 30px;
}

.Home-cv{
    height: 17rem;
    width: 17rem;
}

#div-hcv{
}

#div-htext{
    height: 20rem;
}
.btn-vitaelize{
    background-color: #73da8c;
}
#introduction-text{
    font-size: 1.2rem;
}

.navbar .nav-vit .active {
    background-color: #e0e0e0;
}


/*max phone width*/
@media only screen and (max-device-width: 414px){
    .Home-cv{
        height: 15rem;
        width: 15rem;
    }
    #div-htext{
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    #div-hcv{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .overlay{
        padding: 1.2rem;
    }
}
/*for resizing*/
@media only screen and (max-width: 414px){
    .Home-cv{
        height: 15rem;
        width: 15rem;
    }
    #div-htext{
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    #div-hcv{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .overlay{
        padding: 1.2rem;
    }
}
/*widest collapsed navbar width*/
@media only screen and (min-device-width: 415px) and (max-device-width: 763px) {
    .Home-cv{
        height: 15rem;
        width: 15rem;
    }
    #div-htext{
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    #div-hcv{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.home-cont {
    margin-top:13%;
}

.overlay{
    padding-top: 10rem;
}
.modal{
    max-width: 700px;
    position: relative;
    padding: 1.2rem;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    display: block;
    height: auto;
}