.Navbar-logo{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

#brand-text{
    color: #777777;
}

.nav-item{
    padding: 0 20px;
}
.m-brand{
    margin: .25rem .25rem .25rem 5rem !important;
}
.ml-nav{
    margin-right: 7rem;
}
@media only screen and (max-device-width: 414px) {
    .ml-nav{
        margin-right: 0;
    }
}
@media only screen and (min-device-width: 415px) and (max-device-width: 991px) {
    .ml-nav{
        margin-right: 0;
    }
}
.active{
    background-color: #e0e0e0;
}

.font-nav{
    font-weight: 500;
}
.overlay{
    padding-top: 10rem;
}
.modal{
    max-width: 700px;
    position: relative;
    padding: 1.2rem;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    display: block;
    height: auto;
}