
label.Mui-focused {
    color: green!important;
}

.MuiInput-underline::after {
    border-bottom-color: green!important;
}

.MuiOutlinedInput-root.Mui-focused {
    border-color: green!important;
}

fieldset .MuiOutlinedInput-root.Mui-focused.MuiOutlinedInput-notchedOutline {
    border-color: green!important;
}