.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.App-logo {
  animation: App-logo-spin infinite 1s linear forwards;
  pointer-events: none;
  position: absolute;
}

.App-header {
  /*min-height: 91vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  /*0%   {
    left: 0%;
    transform: rotate(0deg) ;
  }
  50%  {
    left: 73%;
    transform: rotate(180deg) ;
  }
  70% {
    left: 50%;
    transform: rotate(252deg);
  }
  100% {
    left: 0%;
    transform: rotate(360deg);}*/
  0% {
    left: 0%;
    transform: rotate(0deg);
  }

  50% {
    left: 70%;
    transform: rotate(0deg);
  }

  70% {
    left: 50%;
    transform: rotate(180deg);
  }

  100% {
    left: 0%;
    transform: rotate(360deg);
  }
}